// 颜色
$accentColor = #69B7CF
$textColor = #2c3e50
$borderColor = hsl(216, 14%, 93%)
$codeBgColor = #282c34
$arrowBgColor = #ccc
$badgeTipColor = #60e8fd
$badgeWarningColor = darken(#ffe564, 35%)
$badgeErrorColor = #db4c55

// 布局
$navbarHeight = 3.6rem
$sidebarWidth = 20rem
$contentWidth = 740px
$homePageWidth = 960px

// 响应式变化点
$MQNarrow = 959px
$MQMobile = 719px
$MQMobileNarrow = 419px